.header {
    background-color: #171717;
    color: #EDEDED;
    height: 10rem;
    position: relative;
}

.header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 3rem;
}

.header__clock-container {
    padding: 1rem;
    padding-bottom: .5rem;
    width: 15rem;
    float: right;
    border-style: solid;
    border-color: #EDEDED;
    height: 100%;
}

.clock {
    display: grid;
    grid-template-columns: 50% 50%;
}

.clock__time {
    text-align: right;
}