.header {
    background-color: rgb(30, 30, 30, .95);
    color: #EDEDED;
    height: 10rem;
    display: flex;
    margin-bottom: .5rem;
}

.header__heading {
    font-size: 2.5rem;
    text-align: center;
    align-self: center;
    padding-left: 1rem;
    text-transform: uppercase;
}

.header__clock-container {
    padding: 1rem;
    padding-bottom: .5rem;
    width: 15rem;
    border: solid .1rem #EDEDED;
    height: 100%;
    justify-content: flex-end;
    margin-left: auto;
    background-color: rgba(170, 136, 136, 0.15);
    border-radius: 2rem;
}

.clock {
    display: grid;
    grid-template-columns: 50% 50%;
}

.clock__time {
    text-align: right;
}