.log-item {
    margin-bottom: .5rem;
}

.log-item__header {
    background-color: #353535;
    display: flex;
    justify-content: stretch;
    cursor: pointer;
    padding-bottom: 1rem;
}

.log-item__header--number {
    font-size: 1.5rem;
    padding-left: .5rem;
    padding-right: 1rem;
}

.log-item__header--name {
    padding: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 2.2rem;
}

.log-item__header--location {
    padding-top: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.log-item__header--location__zone {
    padding-right: .5em;
}

.log-item__header--location__coords {
    font-size: 75%;
}

.log-item__body {
    padding: 3rem;
    list-style: none;
    background-color: #444;
}

.log-item__body--item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2rem;
}

.log-item__body--label {
    font-weight: 700;
    padding-right: .5rem;
    width: 20rem;
}

.log-item__body--weather-image {
    width: 5rem;
    padding-right: 1rem;
}

.log-item__body__notes--label {
    display: block;
}

.log-item__body__notes--content {
    display: block;
    border: solid #E7E7E7;
    padding: 1rem;
    width: 100%;
    background-color: #333;
    box-shadow: #000 1rem;
}
